* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px 35px;
  background-color: rgba(0, 0, 0, 0);
  color: #0000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  background: #ffbca3;
  background: -webkit-linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  background: -moz-linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  background: linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #ffbca3;
  background: -webkit-linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  background: -moz-linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  background: linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  position: fixed;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: -w;
  margin: 5px;
  transition: all 0.4s ease;
}
body {
  background-color: grey;
  display: block;
}
#hero {
  background-image: url(".assets/images/saguaro.jpg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.about {
  border: green;
}
.work {
  background: #ffbca3;
  background: -webkit-linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  background: -moz-linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  background: linear-gradient(
    to bottom right,
    #ffbca3 0%,
    #b05052 50%,
    #eda287 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px;
  padding: 10px;
  border: 10px;
  display: flex;
}
